body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#mainContents{
    padding: 0px 30px;
    background: #e0e0e0;
    width: 95%;
    height: 90vh;
}

.title-Prin{
    text-align: center;
    font-family: sans-serif;
}
